---
import { ViewTransitions, fade } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const compoundPageTitle = (title ? `${title} - ` : "") + "Sebastian Flajszer";
---

<!doctype html>
<html lang="en" class="dark" transition:animate={fade({ duration: "0.1s" })}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Regular meta tags -->
    <title>{compoundPageTitle}</title>
    {description && <meta name="description" content={description} />}

    <!-- OpenGraph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={compoundPageTitle} />
    {description && <meta property="og:description" content={description} />}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={compoundPageTitle} />
    {
      description && (
        <meta property="twitter:description" content={description} />
      )
    }

    <ViewTransitions />
  </head>
  <body>
    <div class="mx-auto max-w-[70ch] space-y-16 px-8 py-32">
      <slot />
    </div>
    <div class="bottom_fade"></div>
    <style is:global>
      html {
        @apply scroll-smooth bg-white text-zinc-600/80 dark:bg-zinc-900 dark:text-zinc-400;
      }

      @font-face {
        font-family: "Geist";
        src: url("/fonts/GeistVF.woff2") format("woff2-variations");
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("/fonts/GeistMonoVF.woff2") format("woff2-variations");
      }

      :is(h1, h2, h3, h4, h5, h6) {
        &:hover .heading-anchor {
          @apply opacity-100;
        }

        .heading-anchor {
          @apply my-auto box-content inline-block p-2 opacity-0;
        }
      }

      .bottom_fade {
        @apply fixed bottom-0 h-16 w-full bg-gradient-to-t from-white to-transparent backdrop-blur-sm dark:from-zinc-900;
        mask-image: linear-gradient(0deg, #fcfcfc 25%, transparent);
        -webkit-mask-image: linear-gradient(0deg, #fcfcfc 25%, transparent);
      }

      @media (prefers-color-scheme: dark) {
        html {
          color-scheme: dark;
        }

        .astro-code,
        .astro-code span {
          font-family: "Geist Mono";
          color: var(--shiki-dark) !important;
          background-color: var(--shiki-dark-bg) !important;
          /* Optional, if you also want font styles */
          font-style: var(--shiki-dark-font-style) !important;
          font-weight: var(--shiki-dark-font-weight) !important;
          text-decoration: var(--shiki-dark-text-decoration) !important;
        }
      }
    </style>
  </body>
</html>
